batch_size: 32,
dim_h: 128 # should be inferred from pretrain model
datasets: ["BACEDataset", "BBBPDataset"]
dropout: [0.1, 0.3, 0.5]
epochs: [50, 100, 200]
freeze_pretrain: [False, True] # True | False
lr: [0.0005, 0.0001]
pretrain_models:
  - "silver-fox-42"
  - "rising-sunshine-36"
  - "chemberta-77M"
  - "None"
runs: 3
task: "finetune"